$background-color: #f9f9f9;

.videos {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $background-color;

    @media (min-width: 624px) {
        padding: 2rem 4rem;
      }
}